<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/homepage2.css">

</head>
    <body>
   <section class="background">

     <header>
      <div class="navbar">
        <div class="search-box">
          <input type="text" id="searchInput" placeholder="Pesquisar">
          <span onclick="clearSearch()">❌</span>
        </div>
        <a href="#">Assinatura</a>
        <a href="#">Sobre Nós</a>
        <a href="#">Perfil</a>
        <a href="#">Prêmios</a>
        <a href="#">Suporte</a>
        <button class="logout-button">Logout</button>
      </div>
  </header>

        <div class="grid-container">
          <div class="container-titulos">
            <img src="imagens/Logo-AEZ.png" alt="Logo-AEZ" style="max-width: 150px; margin-bottom: 20px;">
            <h1>Transforme suas Ideias em Filmes</h1>
           <h2>O Site que Dará Vida a seus Personagens e Roteiros</h2>
        </div>
        </div>
          
          <div class="container-roteiros">
        <div class="container-texto1">
        <h3>O dia D 2077</h3>
        <p> O Dia D é um filme de 2004 que conta a preparação para a invasão da Normandia, que ocorreu em 6 de junho de 1944. O filme mostra os desafios enfrentados pelo Comandante Supremo Aliado na Europa, Dwight D. Eisenhower. </p>
        </div>
        <div class="container-texto2">
            <h3>O rato sabido</h3>
            <p>O rato sabido - Ratatouille é uma animação da Disney sobre um ratinho que sonha em ser chef de cozinha. </p>
        </div>
        <div class="container-texto3">
            <h3>Amizade entre amigos</h3>
            <p>Amizade entre amigos: Em 1989, algumas semanas antes da queda do muro de Berlim, três jovens italianos decidem visitar o Leste Europeu à procura de aventura e partem em uma jornada que mudará suas vidas para sempre.</p>
        </div>
          </div>

<div class="rodape">
    <div class="producao">
      <h1>Produtores</h1>
      <p><br>Diego Alves Gomes
        <br>Geovana Clemente Cruz
        <br>Livia Mayumi Hayashida
        <br>Victor do Vale Souza
      </p>
    </div>
    <div class="suporte">
    <h1>Precisa de Suporte?</h1>
    <a href="https://www.exemplo.com">E-mail</a>
    <a href="https://www.exemplo.com">Fale Conosco</a>
  </div>

  <div class="siga-nos">
    <h1>Siga-nos!</h1>
    <a href="">
      <img src="imagens/instagram.png" alt="icon-instagram" width="100" height="100">
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/gap">
      <img src="imagens/tiktok.png" alt="icon-tiktok" width="100" height="100">
    </a>
  </div>

    <p class="contato">
      Contato: aez.whileplay@gmail.com</p>
  </div>

    </section>
</body>
</html>