<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage 1</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Whileplay/css/homepage1.css">

</head>
<body>
   <section class="background">
        <div class="grid-container">
          <div class="container-titulos">
            <img src="/Whileplay/VIEWS/MEDIA/imagens/Logo-AEZ.png" alt="Logo-AEZ" style="max-width: 150px; margin-bottom: 20px;">
            <h1>Transforme suas Ideias em Arte</h1>
            <p>Conheça o aplicativo que te permite transformar suas ideias em roteiros e personagens. Com ferramentas fáceis de usar e recursos exclusivos, você pode criar, desenvolver e aprimorar seus projetos de forma simples e rápida. Além disso, o site oferece uma excelente oportunidade para quem está começando na indústria do cinema, ajudando a dar visibilidade a novos talentos e suas criações. Chegou a hora de fazer sua voz ser ouvida e seu trabalho ser reconhecido. Não importa se você é um roteirista iniciante ou um criador de personagens apaixonado, nosso objetivo é te ajudar a levar suas ideias para o próximo nível!</p>
          </div>
          
          <div class="button-container">
        <button class="login">Login</button>
        <button class="cadastrar">Cadastrar</button>
          </div>
        </div>
    </section>
</body>
</html>