<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="perfilPremium.css">
</head>
<body>
    <header>
        <div class="header-container">
      <div class="navbar">
        <div class="search-box">
          <input type="text" id="searchInput" placeholder="Pesquisar">
          <span onclick="clearSearch()">❌</span>
        </div>
        <a href="#">Publicar</a>
        <a href="#">Sobre Nós</a>
        <a href="#">Bibliotec</a>
        <a href="#">Perfil</a>
        <a href="#">Premios</a>
        <a href="#">Roteiro</a>
        <a href="#">Comprar</a>
        <a href="#">Suporte</a>
        <button class="login-button">Logout</button>
      </div>
    </div>
  </header>

  <div class="logo">
    <img src="imagens/Logo-AEZ.png" alt="Logo-AEZ" style="max-width: 150px; margin-bottom: 20px;">
  </div>

  <div class="container">
    <div class="fotoperfil">
      <img src="https://img.freepik.com/fotos-gratis/foto-isolada-de-um-gatinho-ruivo-sentado-em-frente-a-um-gato-olhando-para-a-direita_181624-45937.jpg?semt=ais_hybrid&w=740" alt="Foto de perfil">
    </div>
  
    <div class="form-section">
      <div class="coluna-esquerda">
        <div class="campo">
          <label for="nomecompleto">Nome Completo:</label>
          <input type="text" id="nomecompleto" name="nomecompleto">
        </div>
  
        <div class="campo">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username">
        </div>
  
        <div class="campo">
          <label for="biografia">Biografia:</label>
          <textarea id="biografia" name="biografia" rows="4"></textarea>
        </div>
      </div>
  
      <div class="coluna-direita">
        <div class="campo">
          <label for="email">E-mail:</label>
          <input type="email" id="email" name="email">
        </div>
  
        <div class="campo">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" name="senha">
        </div>
  
        <button class="rascunhos">Rascunhos</button>
        <button class="salvar">Salvar dados</button>
      </div>
    </div>
  </div>  
  </div>
  <div class="rodape">
    <div class="producao">
      <h1>Produtores</h1>
      <p><br>Diego Alves Gomes
        <br>Geovana Clemente Cruz
        <br>Livia Mayumi Hayashida
        <br>Victor do Vale Souza
      </p>
    </div>
    <div class="suporte">
    <h1>Precisa de Suporte?</h1>
    <a href="https://www.exemplo.com">E-mail</a>
    <a href="https://www.exemplo.com">Fale Conosco</a>
  </div>

  <div class="siga-nos">
    <h1>Siga-nos!</h1>
    <a href="">
      <img src="imagens/instagram.png" alt="icon-instagram" width="100" height="100">
    </a>
    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/gap">
      <img src="imagens/tiktok.png" alt="icon-tiktok" width="100" height="100">
    </a>
  </div>

    <p class="contato">
      Contato: aez.whileplay@gmail.com</p>
  </div>
</body>
</html>